{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    {% include 'components/header.html' %}
    <!-- Header End -->

        <section class="signup spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login__form">
                            <h3>Регистрация</h3>
                            <form action="{% url 'movie_app:signup' %}" method="post">
                                {% csrf_token %}
                                <div class="input__item">
                                    <input type="email" placeholder="Электронный адрес" name="email" value="{{ form.email.value|default:'' }}" required>
                                    <span class="icon_mail"></span>
                                    {% if form.email.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ form.email.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="input__item">
                                    <input type="text" placeholder="Ваше имя" name="name" value="{{ form.name.value|default:'' }}" required>
                                    <span class="icon_profile"></span>
                                    {% if form.name.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ form.name.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="input__item">
                                    <input type="text" placeholder="Имя пользователя" name="username" value="{{ form.username.value|default:'' }}" required>
                                    <span class="icon_profile"></span>
                                    {% if form.username.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ form.username.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="input__item">
                                    <input type="password" placeholder="Пароль" name="password" required>
                                    <span class="icon_lock"></span>
                                    {% if form.password.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ form.password.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="input__item">
                                    <input type="password" placeholder="Подтвердите пароль" name="confirm_password" required>
                                    <span class="icon_lock"></span>
                                    {% if form.confirm_password.errors %}
                                        <div class="alert alert-danger mt-2">
                                            {{ form.confirm_password.errors|join:" " }}
                                        </div>
                                    {% endif %}
                                </div>
                                <button type="submit" class="site-btn">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login__register">
                            <h3>Уже есть аккаунт?</h3>
                            <a href="{% url 'movie_app:login' %}" class="primary-btn">Войдите сейчас!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% include 'components/footer.html' %}


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>