{% load static %}
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="{% url 'movie_app:home' %}"><img src="{% static 'img/logo1.svg' %}" alt="Logo"></a>
                </div>
            </div>
            <div class="copyright" style="color: rgb(148, 148, 148); float: right;"> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This service is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Muhammad Aziz</a>
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</footer>